@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* width */
::-webkit-scrollbar {
  @apply mr-2 w-2
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-dark-grad-5 rounded-lg my-4
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-dark-3 rounded-xl
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-txt-1
}


.view-more-btn {
  @apply absolute bottom-3 font-extralight flex text-dark-txt-1;
  transition: transform 200ms ease;
}

.view-more-btn:hover {
  @apply text-dark-txt-2 font-light
}

.view-more-btn > i {
  @apply ml-1
}

.view-more-btn:hover > i {
  transform: translate(2px, -2px);
  transition: transform 200ms ease;
}

.arrow-btn {
  transition: transform 200ms ease;
}

.arrow-btn:hover > i {
  transform: translate(2px, -4px);
  transition: transform 200ms ease;
}